﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="TMDT_Lab01_1212454.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <ul>
            <li>MSSV: 1212454</li>
            <li>Họ tên: Nguyễn Việt Trung</li>
            <li>Email: 1212454@student.hcmus.edu.vn</li>
            <li><img src ="avatar.jpg" /></li>
        </ul>
    </div>
    </form>
</body>
</html>
